/* custom.css */

/* Update the background color of the header */
header {
    background-color: #e7e2e2; /* Black color */
    color: #ecf0f1; /* Light grey text */
}

/* Update the color of the navigation links */
.navbar-nav .nav-link {
    color: #a6aeb3; /* Blue color */
}

/* Update the color of the buttons */
.btn-primary {
    background-color: #2c3e50; /* Blue-grey color */
    border-color: #1f2c39; /* Dark blue-grey border color */
    color: #ecf0f1; /* Light grey text */
}

/* Update the color of the card titles */
.card-title {
    color: #333; /* Black color */
}

/* Update the color of the card text */
.card-text {
    color: #7f8c8d; /* Grey color */
}
 */
.welcome-section {
    position: relative;
    background-color: #fff; /* Set background color as needed */
    color: #333; /* Set text color as needed */
    padding: 100px 0;
}

/* Text on the left */
.welcome-content {
    text-align: left;
}

/* Style for the welcome heading */
.welcome-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Style for the welcome text */
.welcome-content p,
.welcome-content h6 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

/* Style for the contact button */
.welcome-content a.btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Center the button */
.welcome-content a.btn-primary {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}
/* Hover effect for the contact button */
.welcome-content a.btn-primary:hover {
    background-color: #0056b3;
}
.welcome-content {
    text-align: justify;
}
.card-text-fixed {
    height: 90px; /* Adjust this value according to your content */
    overflow: hidden;
}
/* Sample colors for the security theme */
#pricing {
    background-color: #f0f5f9; /* Light blueish background */
    padding: 50px 0;
}

.card {
    background-color: #ffffff; /* White cards */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for the cards */
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    color: #35495e; /* Dark blueish text for card titles */
}

.card-text {
    color: #657786; /* Grayish text color for card details */
}

.btn-primary {
    background-color: #4caf50; /* Greenish color for buttons */
    border-color: #4caf50;
    color: #ffffff; /* White text for buttons */
}

.btn-primary:hover {
    background-color: #388e3c; /* Darker green on hover */
    border-color: #388e3c;
}
